html, body, div{
	margin:0;
	padding:0;
}

.block{
	width:100%;
	min-height:200px;
	display:block;
}

.title-block{
	background-color:#FFF;
	display:flex;
	justify-content: center;
}

.title-block .title{
	font-size:36px;
	align-self: center
}

.description{
	background-color: #eee;
}

.description .text{
	display:block;
	width:90%;
	margin: 0 auto;
	padding-
}

.description .text .contact-links{
	
}

.project{

}

.project .project-image{

}

.project .text .title{
	
}

.project .text .desription{
	
}

.github a{
	background-image:;
}

.linkedin a{
	background-image:;
}

.email a{
	background-image:;
}

.application a{
	background-image:;
}

.github a:hover{

}

.linkedin a:hover{

}

.email a:hover{

}

.application a:hover{

}